body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar,
.navbar-default {
      background-image: linear-gradient(to bottom,#E41937 0,#E41937 100%) !important; /* override background image gradient w/ flat color */
  }

